body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #fefefe;
    color: #0e0e0e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,212,255,1) 100%);
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}
@keyframes slideIn{
    0%{
        transform:translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
header{
    animation: 1.5s ease-in 0s 1 slideIn;
    text-align: center;

    /*opacity: 1;
    animation-name: fadeIn;
    animation-iteration-count: 10;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;

    transform: skew(30deg);*/
}

.flex-container{
    display: flex;
    background-color: #3d43d9;
    align-items: center;
    flex-direction: column;

    /*flex-direction: row;
    flex-direction: row-reverse;*/

    flex-wrap: wrap;

    /*flex-wrap: wrap-reverse;*/
    justify-content: center;
    /*justify-content: flex-start;*/
}
.flex-container > div {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 15px;
}

.item1{grid-area: header;}
.item2{grid-area: menu;}
.item3{grid-area:main;}
.item4{grid-area: right;}

.grid-content{
    display: grid;
    grid-template-areas:
    'header header menu menu menu menu'
    'main main right right right right';
    gap: 15px;
    padding: 10px;
}