body{
    margin: 0 ;
    padding: 0;
    min-width: 525px;
    font-size: 1.5em;
}

header,footer{
    float: left;
    width: 100%;
    background-color:blueviolet;
    color: rgb(239, 241, 243);
}

#main{
    float:left;
    padding-left: 200px;
    padding-right: 125px;
    overflow: hidden;
    height: 50vh;
}
#sendary_content{
    position:relative;
    float: left;
    width: 200px;
    background-color: aqua;
    right: 200px;
    margin-left: -100%;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}
#tertiary_content{
    position: relative;
    float: left;
    width: 125px;
    background-color: bisque;
    margin-right: -125px;
    margin-bottom: -2000px;
    padding-bottom: 2000px;
}
#main_content{
    position: relative;
    float:left;
    background-color: aliceblue;
    width: 100%;
    height: 50vh;
}
footer{
    position:relative;
}